.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  overflow: auto;
  background-color: #fc9c1c;
  max-width: 80%;


}
.controlContainer{
  /* display: grid; */
  display: flex;
  columns: 3;
  column-gap: 10px;
  justify-content: space-around;
  /* row-gap: 100px; */
  /* align-items: center; */
}

 @media screen and (max-width:700px) {
  .controlContainer{
display: table;
    /* column-gap: 10px; */
    row-gap: 10px;

  }
} 


@media screen and (max-width:900px){
  .login {
    display: block;
    justify-content: center;
       position: relative;
     
      
       width: 90%;
       /* transform: translate(-50%, -50%); */
       backdrop-filter: blur(1px); }
       .login__inputpass {
        width: 120%;
        border: none;
        border-bottom: 2px solid #ffd6b1;
        font-family: roboto;
        padding-top: 2rem;
      font-size: small; }
    
}
.username__input {
  width: auto;
  border: none;
  border-bottom: 2px solid #ffd6b1;
  font-family: roboto;
  padding-top: 2rem;
font-size: medium; }

@media only screen and (max-width: 600px) {
  .app-container {
    max-width: 100%;
    gap: 5px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  font-size: 32px;
  
}

th {
  background-color: rgb(254, 254, 254);
}

td {
  background-color: rgb(255, 255, 255);
}

form {
  display: flex;
  gap: 5px;
  overflow: auto;
  
}
input{
  /* width: fit-content;
  margin-right: 15px;
  width: auto;
  border: none; */
  border-bottom: 2px solid #ed9f5a;
  font-family: ui-sans-serif;
  padding: 5px;
  text-align: center;
font-weight: 11;
font-size: medium;

}


form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 15px;
}