.registerdiv {
  
    margin-left: auto;
    margin-right: auto;
    margin-top:9rem;
  margin-bottom:2rem;
  
     width: 70%;
    
    
  }


  
      @media screen and (max-width:900px){
        .registerdiv {
       
            display: block;
            justify-content: center;
               /* position: relative;  */
        margin-left: auto;
              margin-right: auto; 
              
              
               width: 90%;
                
         
               }
               .register__inputpass {
                width: 120%;
                border: none;
                border-bottom: 2px solid #ffd6b1;
                font-family: roboto;
                padding-top: 2rem;
              font-size: small; }
           
          
      }
  
    
    .register__header {
      margin-right: auto;
      margin-left: auto;
      /* width: 50%; */
      margin-top: 7rem;
      background-color: #fc9c1c;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0; }
      .register__header--image {
        height: 6rem; }
    .register__main {
     margin-top: auto;
      background-color: #ffffff;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
      align-items: left;
    }
  
    /* first name and last name input boxes */
    .input_container{
      /* display: flex;
      column-gap: 20px; */
      /* justify-content: space-between; */
      margin-top: auto;
      background-color: #ffffff;
      /* padding: 2rem 4rem; */
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
      align-items: left;
    }
    
    /* media screen when the screen size is small and has to displayed as grid row */
    @media screen and (max-width:700px){
      .input_container{
        display: grid;
        /* width: 100%; */
        
        /* flex-direction: column; */
        /* justify-content: space-between; */
        /* column-gap: 10px; */
        
      }
      .lname_container{
        margin-top: 3px;
      }
      .register__input__firstname .register__input__firstname {
       
        width: 100%;
      }

    }
    
    .names__box{
      margin-top: auto;
      background-color: #ffffff;
      padding: 2rem 0;
      display: flex;
      /* flex-direction: column; */
      gap: 1.3rem;
      align-items: center;
    }
    @media screen and (max-width:600px){
      .names__box {
      flex-direction: column;
      
    padding: 2rem 0;
      display: flex;
      gap: 1.3rem;
      align-items: flex-start;
      text-align: left;
      align-items: flex-start
        }

        .register__main .register__input {
            width: 100%;
            border: none;
            border-bottom: 2px solid #ffd6b1;
            font-family: roboto;
            padding-top: 0.2rem;
          font-size: medium; }

        
    }
    @media screen and (min-width:600px) {
        .register__input {
          
            width: 60%;
            border: none;
            border-bottom: 2px solid #ffd6b1;
            font-family: roboto;
            padding-top: 0.2rem;
          font-size: medium; } 
    }
  
   
  